<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Basic</key>
		<dict>
			<key>introduction</key>
			<string>もりもりの大好きな中華料理屋さんです。たぶん相思相愛です。</string>
			<key>longitude</key>
			<string>135.781553</string>
			<key>latitude</key>
			<string>35.028690</string>
			<key>number</key>
			<string>1</string>
			<key>price</key>
			<string>1</string>
			<key>genre</key>
			<string>中華</string>
			<key>area</key>
			<string>百万遍</string>
			<key>name</key>
			<string>宏鑫</string>
			<key>hour</key>
			<string>11:00~14:30  17:00~23:00</string>
			<key>closedDay</key>
			<string>第一・第三月曜日</string>
			<key>reserve</key>
			<string>可</string>
			<key>tel</key>
			<string>075-121-8530</string>
			<key>park</key>
			<string>無</string>
			<key>seats</key>
			<string>40席</string>
			<key>menuFirst</key>
			<string>若鶏の辛口煮</string>
			<key>menuSecond</key>
			<string>ニラレバ炒め</string>
			<key>menuThird</key>
			<string>魚の甘酢</string>
			<key>valueFirst</key>
			<string>756円</string>
			<key>valueSecond</key>
			<string>648円</string>
			<key>valueThird</key>
			<string>756円</string>
		</dict>
		<key>Business</key>
		<dict>
			<key>closed</key>
			<string>monday(1,3 ifNotHoliday)</string>
			<key>sunday</key>
			<string>11:30～14:30, 17:00～23:00</string>
			<key>saturday</key>
			<string>11:30～14:30, 17:00～23:00</string>
			<key>friday</key>
			<string>11:30～14:30, 17:00～23:00</string>
			<key>thursday</key>
			<string>11:30～14:30, 17:00～23:00</string>
			<key>wednesday</key>
			<string>11:30～14:30, 17:00～23:00</string>
			<key>tuesday</key>
			<string>11:30～14:30, 17:00～23:00</string>
			<key>monday</key>
			<string>11:30～14:30, 17:00～23:00</string>
		</dict>
	</dict>
	<dict>
		<key>Basic</key>
		<dict>
			<key>introduction</key>
			<string>インドカレー屋さんです。</string>
			<key>longitude</key>
			<string>135.8117876</string>
			<key>latitude</key>
			<string>34.9926396</string>
			<key>number</key>
			<string>２</string>
			<key>price</key>
			<string>900円</string>
			<key>genre</key>
			<string>カレー</string>
			<key>area</key>
			<string>百万遍</string>
			<key>name</key>
			<string>Raju</string>
			<key>hour</key>
			<string>11:00~15:00  17:00~23:00</string>
			<key>closedDay</key>
			<string>不定休</string>
			<key>reserve</key>
			<string>可</string>
			<key>tel</key>
			<string>075-712-6688</string>
			<key>park</key>
			<string>無</string>
			<key>seats</key>
			<string>70席</string>
			<key>menuFirst</key>
			<string>チキンカレー</string>
			<key>menuSecond</key>
			<string>エビカレー</string>
			<key>menuThird</key>
			<string>キーマカレー</string>
			<key>valueFirst</key>
			<string>900円</string>
			<key>valueSecond</key>
			<string>900円</string>
			<key>valueThird</key>
			<string>900円</string>
		</dict>
		<key>Business</key>
		<dict>
			<key>closed</key>
			<string>none</string>
			<key>sunday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>saturday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>friday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>thursday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>wednesday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>tuesday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>monday</key>
			<string>11:00～15:00, 17:00～23:00</string>
		</dict>
	</dict>
	<dict>
		<key>Basic</key>
		<dict>
			<key>introduction</key>
			<string>つけ麺屋さんです。</string>
			<key>longitude</key>
			<string>135.7774065</string>
			<key>latitude</key>
			<string>35.0291197</string>
			<key>number</key>
			<string>6</string>
			<key>price</key>
			<string>750円</string>
			<key>genre</key>
			<string>ラーメン・つけ麺</string>
			<key>area</key>
			<string>百万遍</string>
			<key>name</key>
			<string>つけ麺マン</string>
			<key>hour</key>
			<string>11:00~23:00</string>
			<key>closedDay</key>
			<string>年末年始</string>
			<key>reserve</key>
			<string>不可</string>
			<key>tel</key>
			<string>075-712-6677</string>
			<key>park</key>
			<string>無</string>
			<key>seats</key>
			<string>10席</string>
			<key>menuFirst</key>
			<string>濃厚つけ麺</string>
			<key>menuSecond</key>
			<string>豚骨らーめん</string>
			<key>menuThird</key>
			<string>つけ次郎</string>
			<key>valueFirst</key>
			<string>780円</string>
			<key>valueSecond</key>
			<string>680円</string>
			<key>valueThird</key>
			<string>680円</string>
		</dict>
		<key>Business</key>
		<dict>
			<key>closed</key>
			<string></string>
			<key>sunday</key>
			<string>11:00～23:00</string>
			<key>saturday</key>
			<string>11:00～23:00</string>
			<key>friday</key>
			<string>11:00～23:00</string>
			<key>thursday</key>
			<string>11:00～23:00</string>
			<key>wednesday</key>
			<string>11:00～23:00</string>
			<key>tuesday</key>
			<string>11:00～23:00</string>
			<key>monday</key>
			<string>11:00～23:00</string>
		</dict>
	</dict>
	<dict>
		<key>Basic</key>
		<dict>
			<key>introduction</key>
			<string>醤油と味噌ラーメンがあります。</string>
			<key>longitude</key>
			<string>135.776926</string>
			<key>latitude</key>
			<string>35.0292697</string>
			<key>number</key>
			<string>7</string>
			<key>price</key>
			<string>750円</string>
			<key>genre</key>
			<string>ラーメン・つけ麺</string>
			<key>area</key>
			<string>百万遍</string>
			<key>name</key>
			<string>伝丸</string>
			<key>hour</key>
			<string>11:00~25:00</string>
			<key>closedDay</key>
			<string>年中無休</string>
			<key>reserve</key>
			<string>不可</string>
			<key>tel</key>
			<string>075-702-2753</string>
			<key>park</key>
			<string>無</string>
			<key>seats</key>
			<string>20席</string>
			<key>menuFirst</key>
			<string>醤油らーめん</string>
			<key>menuSecond</key>
			<string>味噌らーめん</string>
			<key>menuThird</key>
			<string>塩らーめん</string>
			<key>valueFirst</key>
			<string>670円</string>
			<key>valueSecond</key>
			<string>670円</string>
			<key>valueThird</key>
			<string>670円</string>
		</dict>
		<key>Business</key>
		<dict>
			<key>closed</key>
			<string></string>
			<key>sunday</key>
			<string>11:00～25:00</string>
			<key>saturday</key>
			<string>11:00～25:00</string>
			<key>friday</key>
			<string>11:00～25:00</string>
			<key>thursday</key>
			<string>11:00～25:00</string>
			<key>wednesday</key>
			<string>11:00～25:00</string>
			<key>tuesday</key>
			<string>11:00～25:00</string>
			<key>monday</key>
			<string>11:00～25:00</string>
		</dict>
	</dict>
	<dict>
		<key>Basic</key>
		<dict>
			<key>introduction</key>
			<string>豚骨らーめん屋です。</string>
			<key>longitude</key>
			<string>135.7753844</string>
			<key>latitude</key>
			<string>35.028864</string>
			<key>number</key>
			<string>9</string>
			<key>price</key>
			<string>750円</string>
			<key>genre</key>
			<string>ラーメン・つけ麺</string>
			<key>area</key>
			<string>百万遍</string>
			<key>name</key>
			<string>たく味</string>
			<key>hour</key>
			<string>11:00~25:00</string>
			<key>closedDay</key>
			<string></string>
			<key>reserve</key>
			<string>可</string>
			<key>tel</key>
			<string>075-712-6688</string>
			<key>park</key>
			<string>無</string>
			<key>seats</key>
			<string>70席</string>
			<key>menuFirst</key>
			<string>チキンカレー</string>
			<key>menuSecond</key>
			<string>エビカレー</string>
			<key>menuThird</key>
			<string>キーマカレー</string>
			<key>valueFirst</key>
			<string>900円</string>
			<key>valueSecond</key>
			<string>900円</string>
			<key>valueThird</key>
			<string>900円</string>
		</dict>
		<key>Business</key>
		<dict>
			<key>closed</key>
			<string>none</string>
			<key>sunday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>saturday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>friday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>thursday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>wednesday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>tuesday</key>
			<string>11:00～15:00, 17:00～23:00</string>
			<key>monday</key>
			<string>11:00～15:00, 17:00～23:00</string>
		</dict>
	</dict>
</array>
</plist>
